<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- Configuration for NLog -->
    <targets>
        <!-- Console Target: Logs all messages with minimum level Info -->
        <target name="console" xsi:type="Console" layout="${longdate} ${uppercase:${level}} ${message} ${exception}" />

        <!-- File Target: Logs only Error and above -->
        <target name="file" xsi:type="File"
                fileName="../../../logs/logfile-${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} ${newline} User=${scopeproperty:user} ${message} ${exception}"
                keepFileOpen="false"
                encoding="utf-8"
                concurrentWrites="true"
                archiveFileName="logs/archives/logfile-{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7" />
    </targets>

    <rules>
        <!-- Console Logs: Minimum Level = Info -->
        <logger name="*" minlevel="Info" writeTo="console" />

        <!-- File Logs: Minimum Level = Error -->
        <logger name="*" minlevel="Error" writeTo="file" />
    </rules>
</nlog>
